@charset "UTF-8"; 


h1 {
    
    font-weight:500;
}
h2{
    font-size:1.25em;
}
h2 span{
    font-size:2em;
}
li{
   background:#6fbb9a;
    padding:20px;
    width:500px;
    border:5px #6fbb9a;
    
    
    
    
}

body{
    background-color:#fbf9cc;/*背景色を変える*/
    background-image: url("2530983949_d7c4ed5352_o.jpg");
}
