@charset "UTF-8"; 


h1 span{
    color:#d0e35b; 
    font-weight:500;
}

#lead{
    border-top:#6fbb9a 2px dotted;
    font-weight:bold;
    font-size:300%;
    color:#d0e35f;
    line-height:1;
    padding:5px;
    margin-right: 5px;
}
.greeting{
    border-top:#6fbb9b 3px dotted;
    
    
    
    
}

body{
    background-color:#fbf9cc;/*背景色を変える*/
    background-image: url("2530983949_d7c4ed5352_o.jpg");
}
