@charset "UTF-8"; 


h1 {
    font-size:1.75em;
   color:#6fbb9a;
}
h2{
    font-size:1.25em;
    color:#6fbb9a;
}
#lead{
     border-top: #6fbb9a 3px dotted;
    
     text-align: center;
}
.greeting{
  
    border-top: #6fbb9a 3px dotted;
    
     text-align: center;
 
}


body{
    background-color:#fbf9cc;/*背景色を変える*/
    background-image: url("2530983949_d7c4ed5352_o.jpg");
}
